


/* General Styles */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
  
}
img{
    width: 100%;
    height: 100%;
}
/**
 Navigation bar styling
*/
.navbar {
    background-color: #333;
    color: #fff;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    min-width: 100%;
    width: 100%;
    top: 0;
    position: fixed;
    z-index: 1;

}
.nav-logo {
    font-size: 32px;
}
.navbar a {
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
    
}
.navbar li{
    list-style: none;
}
.nav-menu {
    display: flex;
    gap: 1rem;
    font-size: 18px;
  }
  
  .nav-menu  li:hover {
    background-color: #4c9e9e;
    border-radius: 5px;
    transition: 0.3s ease;
  }
  
  .nav-menu  li {
    padding: 5px 14px;
  }

  input[type=checkbox] {
    display: none;
  } 
  
  /* HAMBURGER MENU */
  .hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
  }
.home-container p, h1{
    color:white;
    opacity: 75%;
}
.home{
    padding: 10rem 2rem;
    position: relative; /* Set the container to relative position */
    background-image: url("./images/bckg4.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position-y: center;
    background-position: center;
    height: 100vh;

}
.btn-more{
    padding: 1rem 2rem;
    background-color: blue;
    border-radius: 1.5rem;
    box-shadow: 1px solid green;
    text-decoration: none;
    color: white;
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%); /* Center horizontally */
}
.show-more-details-btn{
    text-decoration: none;
    font-family:sans-serif;
    font-weight: 500;
    color: blue;
    border: 1px solid blue;
    padding: 0.5rem;
    border-radius: 1.5rem;
    
}
.show-more-details-btn:hover,:focus{
    border: 2px solid blue;
    font-weight: 500;
    padding: 1rem;
    border-radius: 1.5rem;
}

.product-container{
       padding: 5rem 0rem;
}
.shop-container{
    position: absolute;;
}

@media (min-width:768px){
.products-summary,.shop-catergory{
    display: inline-block; 
    white-space: nowrap; 
    animation: slideRight 30s linear 3; 
  }

  @keyframes slideRight {
    0% {
      transform: translateX(0%) 
    }
    100% {
      transform: translateX(100%); 
    }
  }
}

  .products-summary{
    background-color: antiquewhite;
    padding: 1rem;
    border-radius: 0.5rem;
    opacity: 50%;
  }

.products-sections, .product-items{
   display: block;
   padding:1rem;
}
.items{
    display: inline-block;

}
.items>div{
    float: left;
    margin:0rem 1rem;
    padding: 0rem 1rem;
}

img {
    width: 325px;  /* adjust as needed */
    height: 310px; /* adjust as needed */
    object-fit: cover; /* this will prevent distortion */
}
.item {
  display: inline-block;
  margin-right: 1px;
}


/* Banner Styles */
#banner {
    width: 100%;
    height: 300px;
    background-color: #f4f4f4;
}

/* Section Styles */
section {
    margin: 20px 0;
}

.container-catergory{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: left;
}

.new-products{
    height: 33vh;
    display: flex;
    justify-content: left;
    align-items: left;
}
.new-products>div{
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    line-height: 0.1rem;
}
.product-details{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 0.1rem;
}
.product-details > .details button{
    display: block;
    width: 100%;
  

}

.details{
    border: 2zpx solid #666;
    box-shadow: 0 1px 2px 0 #666;
    padding: 2rem 5rem ;
}
.details>p{
    line-height: 1rem;
}
.details>img{
    width: 100%;
    
}

.add-cart{
    padding: 0.5rem 1rem;
    background-color: darkgreen;
    border: none;
    color: white;
    border-radius: 1.5rem;
}
.add-cart:hover,:focus{
    border-radius: 1.5rem;
    box-shadow: 1px solid blue;
}
.product-description{
  text-transform: none;
  line-height: 1rem;

}
.product-img{
    width: 100%;
}
.back-btn{
    display: inline-block;
    padding: 10px 20px;
    background-color: #000000;
    color: #FFFFFF;
    text-decoration: none;
    border-radius: 0.1rem;
    margin-bottom: 0.1rem;
}
.cart{
    display: block;
   
}
.cart>div{
    float: left;
    margin: 1rem;
}

.cart-container{
   position: absolute;
   padding: 5rem  0rem;

}

.cart-details{
    padding: 1rem;
}
.cart-action{
    display: flex;
}
.cart-discard-btn{
    background-color: white;
    border: 0.5px solid #666;
}
.cart-product-adjust{
    display: flex;
}
.increase-btn{
    border-right: none;
}
.quantity{
    border-right: none;
    border-left: none;
}
.decrease-btn{
    border-left: none;
}
.checkout-btn{
    width: 100%;
    padding: 1rem;
    background-color: green;
    color: white;
    border-radius: 0.5rem;
    border: none;
}
.break-line{
    border: 1px solid #a8a4a4;
}
.checkout-btn:hover{
    box-shadow: 0 1px 2px 0 #666;
}
.about-container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-content{
    display: block;
    text-transform: none;
    border: 2zpx solid #666;
    box-shadow: 0 1px 2px 0 #666;
    padding: 2rem 5rem ;
    max-width: 45%;
    color: #000000;
    background-color: #e7e4e4;
}

.about-title p{
    text-align: center;
}

.contact-container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-card{
    box-shadow: 0 1px 2px 0 #666;
    padding: 2rem;
}
.contact-card>div{
    padding: 1rem 0rem;
}
.contact{
    display: block;

}
.contact-sutitle{
    color: black;
    font-style: normal;
    font-size: medium;
}
.contanct-content>*{
    display: inline;
}

.send-message{
    display: block;
   
}

.send-message> .email{
    min-width: 100%;
    padding: 0.8rem 0.5rem;
    margin-bottom: 1rem;
}
.send-message > .message{
    padding: 2rem 0.5rem;
    min-width: 100%;
    margin-bottom: 2rem;
}

.about-sec{
    display: flex;
    line-height: 0.5rem;
}

  /* APPLYING MEDIA QUERIES */
  @media (max-width: 768px) {
    

    .nav-menu {
       display:none;
       position: absolute;
       background-color:#333;
       right: 0;
       left: 0;
       text-align: center;
       padding: 16px 0;
     }
     
   
     .nav-menu a:hover {
       background-color:#4c9e9e;
       transition: 0.3s ease;
     }
   
     .nav-menu a + a {
       margin-top: 12px;
     }
   
     input[type=checkbox]:checked ~ .nav-menu {
       display: block;
    
     }
     .nav-menu>a{
        padding: 0% 50%;
          
     }
     .hamburger {
       display: block;
     }
     .home-container{
        height: auto;
     }
     .items>div{
        margin:1rem;
       
    }
     .contact-container{
        height: 100vh;
        display: flex;
        justify-content: center !important;
        align-items: start !important;
        padding:  5rem 0rem;
       
    }
    .contact-card{
        box-shadow: none;
        display: block;
    }
   
    .about-container{
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    .about-content{
        padding: 2rem 5rem ;
        max-width: 90%;
        color: #000000;
    
    }
    .about-sec{
        line-height: 1.5rem;
        gap: 1rem;
    }
    .nav-logo{
        font-size: 1rem;
    } 

 
   }
   @Media  (max-width:885px){
    .nav-logo {
        font-size: 20px;
    }
    .nav-menu>a{
        font-size: 16px;
    }
   }
   @media (max-width:1024px){
       .contact-container{
        align-items: start;
        padding: 5rem;
       }
   }